@tailwind utilities;

/* Fade suave */
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Giro completo */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-in {
  animation: fade 0.8s ease-in-out forwards;
}

.spin-animation {
  animation: spin 3s linear forwards;
}
